
/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

/* Стили для header */
.header {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
}

/* Стили для topnav */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Стили для card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  margin: 20px;
	max-width: 600px;
		border-radius: 10px;


}

.card img {
  width: 100%;
  max-width: 600px; /* Максимальная ширина изображения в карточке */
  height: auto;
	border-radius: 10px;
	box-shadow: 0px 0px 10px gray;
}

.card h2 {
  font-size: 24px;
}

.card p {
  font-size: 16px;
}

.card a.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  background-color: #007bff;
	border-radius: 5px;
  color: #fff;
	box-shadow: 0px 0px 10px gray;

}

.card a.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  background-color: #007bff;
	border-radius: 5px;
  color: #fff;
	box-shadow: 0px 0px 10px gray;

}


footer {
  clear: both; /* Добавлено для очистки плавающих элементов */
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #f2f2f2;
  
}

.pagin

{
  clear: both; /* Добавлено для очистки плавающих элементов */
  text-align: center;
  padding: 10px;
  background-color: white;
  color: #f2f2f2;
   margin: 10px;
  
}
/* Стили для пагинации */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-item {
  list-style: none;
  margin: 0 5px;
}

.pagination .page-link {
  color: #007bff;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #007bff;
  border-radius: 4px;
}

.pagination .page-link:hover {
  background-color: #f2f2f2;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  color: #fff;
}

.pagination .page-item.disabled .page-link {
  pointer-events: none;
  cursor: default;
}
/* Дополнительные стили для двух карточек горизонтально при ширине окна больше или равной 1300px */




/* Стили для блока с карточкой */
.block1 {
  max-width: 1300px;
  margin-left: 0 auto;
  padding: 20px;

  text-align: center;

}

/* Стили для заголовка рецепта */
.block1 h1 {
  color: #333;
  font-size: 28px;
	max-width: 600px;
}

/* Стили для времени приготовления */
.vrem {
  color: #666;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #f2f2f2;
	
	max-width: 70px;
	margin-left: 0 auto;
	
}

/* Стили для изображения */
.cardimg {
	
  max-width: 100%;
  height: auto;
  margin-top: 10px;
		border-radius: 10px;
	box-shadow: 0px 0px 10px gray;
	margin-bottom: 20px; /* Увеличение отступа снизу */
}

/* Стили для списка ингредиентов */

.ingr {
	/* border: 1px solid #555; */
	border-radius: 10px;
	box-shadow: 0px 0px 10px gray;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
 
  max-width: 600px;
  overflow: hidden;
	margin: 0 auto;
	margin-bottom: 20px; /* Увеличение отступа снизу */
}

.ingr1 {
  float: left;
  clear: left;
  width: 50%;
  padding: 10px;
	
  box-sizing: border-box;
}

.ingr2 {
  float: right;
  clear: right;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;


}
.ingr ul {
  list-style: none;
  padding: 0;
}

.ingr li {
  margin-bottom: 10px;
}


/* Стили для инструкции по приготовлению */
.gotovka1 {
  padding: 10px; /* Увеличение отступа текста */
  text-align: left; /* Выравнивание текста по левому краю */
  margin-top: 30px;
  border-radius: 10px;
	line-height: 1.5; /* Увеличение отступа между строками */
  max-width: 600px;
  overflow: hidden;
  margin: 0 auto; /* Центрирование блока */
margin-bottom: 30px;
	/* border: 1px solid #555;  Обводка без тени */
	font-size: 18px;
}


@media (min-width: 1300px) {
  .card {
    width: calc(50% - 40px); /* Учитываем отступы между карточками */
    float: left;
	margin-left:10px;
    clear: none; /* Очищаем предыдущее значение clear */
  }
  .block1 {
	  max-width: 1250px;
    position: relative; /* Устанавливаем позиционирование для родительского блока */
  }

  .cardimg {
    float: left;
    width: 50%; /* Занимает половину ширины экрана */
	  max-width: 600px;
  }

  .ingr {
    clear: both; /* Очистка обтекания, чтобы разместиться под блоком .cardimg */
    width: 50%; /* Занимает половину ширины экрана */
    float: left; /* Располагается слева от блока .gotovka */
  }

  .gotovka {
    position: absolute;
    top: 10;
    right: 0;
    width: 50%; /* Занимает половину ширины родительского блока .block1 */
    height: 100%; /* Занимает 100% высоты родительского блока .block1 */
    margin-top: 10px; /* Добавляем отступ сверху */

	 
	 
  }
}

@media (max-width: 767px) {
  .pagination .page-link {
    font-size: 12px; /* Пример уменьшения размера шрифта */
    padding: 5px 10px; /* Пример уменьшения отступов */
  }

  .pagination .page-item {
    margin: 0 2px; /* Уменьшение отступов между элементами */
  }
}